header{
    position: relative;
    height: 10.79rem;
    background-color: #f45e3e;
}
header>div:nth-child(1){
    box-sizing: border-box;
    margin-top: -1.2rem;
    padding: 1.6rem .4rem 0 0;
    width: 7.5rem;
    height: 8.49rem;
    background: url("../images/headerBg.png") center no-repeat;
    background-size: cover;
}
header>div:nth-child(1) div{
    float: right;
    text-align: center;
}
header>div:nth-child(1) div span{
    display: inline-block;
    width: .38rem;
    height: .44rem;
    background: url("../images/smallbook.png") center no-repeat;
    background-size: cover;
}
header>div:nth-child(1) div p{
    font-size: .22rem;
    color: #ffffff;
}
header>div:nth-child(2){
    position: absolute;
    left: 0;
    right: 0;
    bottom: .7rem;
    margin: auto;
    width: 6.19rem;
    height: 1.99rem;
    background: url("../images/tjyl.png") center no-repeat;
    background-size: cover;
    z-index: 200;
}
footer{
    overflow: hidden;
    position: relative;
    margin-top: -1.19rem;
    width: 7.5rem;
    height: 3.8rem;
}
footer>div{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -6.4rem;
    padding-top: 1.45rem;
    width: 12.8rem;
    height: 4.2rem;
    border-radius: 50%;
    background-color: #fed452;
    z-index: 100;
}
footer>span{
    position: absolute;
    width: .59rem;
}
footer>span:nth-child(1){
    top: 1.37rem;
    left: .7rem;
    height: .47rem;
    background: url("../images/other_1.png") center no-repeat;
    background-size: cover;
}
footer>span:nth-child(2){
    top: 1.9rem;
    right: 1.1rem;
    height: .6rem;
    background: url("../images/other_2.png") center no-repeat;
    background-size: cover;
}
footer>div{
    position: relative;
}
footer>div div{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 2.6rem;
    width: 3.57rem;
    height: .95rem;
    text-align: center;
}
footer>div div img{
    width: 100%;
    height: 100%;
}

footer input{
    box-sizing: border-box;
    padding: 0 .42rem;
    border: 2px solid #f35d3d;
    font-size: .3rem;
    border-radius: 5px;
    color: #f35d3d;
    background-color: #fed452;
    -webkit-appearance: none;
}
::-webkit-input-placeholder{
    color: #f35d3d;
    opacity: 1;
}
footer div:nth-child(3)>input{
    position: absolute;
    left: 0;
    right: 0;
    top: .7rem;
    margin: auto;
    width: 4.8rem;
    height: .8rem;
    line-height: .8rem;
}
footer div>div:nth-child(2){
    position: absolute;
    left: 0;
    right: 0;
    top: 1.6rem;
    margin: auto;
    width: 4.8rem;
    height: .8rem;
    z-index: 160;
}
footer div>div:nth-child(2) input:nth-child(1){
    position: absolute;
    left: 0;
    width: 2.8rem;
    height: .8rem;
    border-radius: 5px 0 0 5px;
}
footer div>div:nth-child(2) input:nth-child(2){
    position: absolute;
    right: 0;
    padding: 0;
    width: 2rem;
    height: .8rem;
    color: #f35d3d;
    border-left: none;
    background-color: #fed452;
    border-radius: 0 5px 5px 0;
}